<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://team6testfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/620c30a1-87d2-42fc-9eea-1e18cdf2d71d/resourceGroups/team6testfunctionapp/providers/Microsoft.Web/sites/Team6TestFunctionApp</ResourceId>
    <UserName>$Team6TestFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://team6testfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>